!!!
%html
  %head
    %title=title
    = csrf_meta_tags
    /[if lt IE 9]
      %script{:src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}

    = stylesheet_link_tag 'blueprint/screen', media: 'screen'
    = stylesheet_link_tag 'blueprint/print', media: 'print'
    /[if lt IE 8]
      = stylesheet_link_tag 'blueprint/ie' 
    = stylesheet_link_tag 'custom', media: 'screen'
  %body
    .container
      %header
        %nav.round
          %ul
            %li= link_to "Home", "#"
            %li= link_to "Help", "#"
            %li= link_to "Sign in", "#"
      = image_tag "logo.png", alt: "Sample App", class: "round"
      %section.round
        = yield
        %p
          Nullam id dolor id nibh ultricies vehicula ut id elit. Vestibulum id ligula porta felis euismod semper.
          Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Morbi leo risus, porta ac
          consectetur ac, vestibulum at eros.

        %p
          Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus.
          Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Morbi leo risus, porta ac consectetur
          ac, vestibulum at eros. Etiam porta sem malesuada magna mollis euismod.

        %p
          Maecenas sed diam eget risus varius blandit sit amet non magna. Duis mollis, est non commodo luctus, nisi
          erat porttitor ligula, eget lacinia odio sem nec elit. Fusce dapibus, tellus ac cursus commodo, tortor mauris
          condimentum nibh, ut fermentum massa justo sit amet risus. Curabitur blandit tempus porttitor. Sed posuere
          consectetur est at lobortis.
        